<!DOCTYPE html>
<html>
<head>
    <title>PollGen</title>
    <style>
        /* Remove the previous box-shadow styles for the .nav-item */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #112;
    color: #fff;
    margin: 0;
}

#navbar {
    background-color: #243551;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    text-align: center; /* Center text within each link */
    font-size: 1.5rem;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
}
.nav-item a {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  transition: text-shadow 0.3s; /* Add transition for smooth effect */
}

/* Add a hover effect to change the text-shadow on hover */
.nav-item a:hover {
  text-shadow: 0 0 10px #00BFFF; /* Change the color to light blue (#00BFFF) */
}

.chevron {
    position: relative;
    display: block;
    height: 50px;
    margin-right: 15px;
    transform: rotate(-90deg);
    top: 35px;
    left: 15px;
}

.chevron::before,
.chevron::after {
    position: absolute;
    display: block;
    content: "";
    border: 35px solid transparent; /* Adjust chevron size */
}

.chevron::before {
    top: 5px;
    border-top-color: #112;
}

.chevron::after {
    top: -10px; /* Adjust thickness */
    border-top-color: #243551;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    transition: text-shadow 0.3s; /* Add transition for smooth effect */
}

nav form {
    padding-right: 15px;
    padding-left: 35px;
}

.styled-dropdown {
    background: #243551;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}

.styled-dropdown:hover {
    text-shadow: 0 0 10px #00BFFF; /* Change the color to light blue (#00BFFF) */
}


#dayForm {
    display: flex;
    align-items: center;
    margin-top: 10px;
}


#dayForm label {
    color: #fff;
    margin-right: 10px;
}

#form-container {
    position: relative;
    padding-bottom: 60px;
    margin-left: 15px;
}

.submit-button {
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #243551;
    transition: background-color 0.3s;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-right: 15px;
}

.submit-button:hover {
  text-shadow: 0 0 10px #00BFFF;
}

.error-list {
    list-style: none;
    padding: 0;
}

.error-message {
    color: red;
}

.correct-answer {
    color: #00FF00;
}

ul { list-style-type: none }
h4 {
  color: #666;
}
    </style>
</head>

<body>
  <nav id="navbar">
     <ul>
       <li class="nav-item" ><a href="/">Courses</a></li>
       <i class="chevron"></i>
       <li class="nav-item"><a href="https://github.com/alta3/labs/blob/main/courses/{{ course }}/questions/questions.yml" rel="norefferer" target="_blank">{{ course }}</a></li>
       <i class="chevron"></i>
       <li>
         <form  class="nav-item" method="POST" action="/result/{{ course }}/select_day" id="dayForm">
           <select class="styled-dropdown" id="day" name="day" onchange="document.getElementById('dayForm').submit()">
  
             {% if selected_day == 0 %}
               <option value="0"selected>Day</option>
               {% else %}
               <option value="0">Clear</option>    
               {% endif %}
               {% for day in days %}
               <option value="{{ day }}" {% if day == selected_day %}selected{% endif %} style="text-align: center;">Day {{ day }}</option>
               {% endfor %}
           <input type="hidden" name="selected_day" value="{{ selected_day }}">
         </form>
       </li>
       <i class="chevron"></i>
       <li class="nav-item"><input type="button" id="getJSON" class="submit-button" value="JSON" /></li>
       <i class="chevron"></i>
       <li class="nav-item"> <a href="https://poll.alta3.com/" rel="norefferer" target="_blank">Poll</a></li>
     </ul>
  </nav>
  <div id="form-container">

      {% set choices = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %} {% with messages =
      get_flashed_messages(with_categories=true) %} {% if messages %}
      <ul class="error-list">
        {% for category, message in messages %}
        <li style="color: red" class="error-message">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <form id="actionForm" method="POST">
        <ul>
          {% for item in new_questions %}
          <li>
            <pre><label><input type="checkbox" name="selected_question_index" value="{{ loop.index0 }}" checked><b>(Day {{ item.day }}) {{ item.question }}</b></label></pre>
            <ul>
              {% for answer in item.answers %}
              <li >
                <pre><i>&nbsp;&nbsp;&nbsp;&nbsp;{{ choices[loop.index0] }}:</i> {{ answer }}</pre>
              </li>
              {% endfor %}
            </ul>
          </li>

          {% endfor %}
        </ul>

        <ul>
          <h4> Daily Snapshot Questions </h4>
          {% for item in performance_questions %}
          <li>
            <pre><label><input type="checkbox" name="selected_question_index" value="{{ loop.index0 }}" {% if not (selected_day == 1) %} checked {% endif %}><b> {{ item.question }}</b></label></pre>
            <ul>
              {% if item.type != 'text' %}
              {% for answer in item.answers %}
              <li {% if answer['correct'] == true %} class="correct-answer" {% endif %}>
                <pre><i>&nbsp;&nbsp;&nbsp;&nbsp;{{ choices[loop.index0] }}:</i> {{ answer['text'] }}</pre>
              </li>
              {% endfor %}
              {% endif %}
            </ul>
          </li>
          {% endfor %}
          <h4> {{course | upper }} Comprehension Questions </h4>
<ul>
  {% for item in questions %}
  {% if item.question in missing_figure_questions %} <li class="error-message"> The question below contains a bad `figure:` value in the <a class="error-message" href="https://github.com/alta3/labs/blob/main/courses/{{ course }}/questions/questions.yml" rel="norefferer" target="_blank">questions.yml </a>{% endif %}
    <pre><label><input type="checkbox" name="selected_question_index" value="{{ loop.index0 + 4 }}"{% if item.day == selected_day %}checked{% endif %}><b>(Day {{ item.day }}) {{ item.question }}</b></label></pre>
    <ul>
      {% if item.type != 'text' %}
      {% for answer in item.answers %}
      <li{% if answer['correct'] == true %} class="correct-answer"{% endif %}>
        <pre><i>&nbsp;&nbsp;&nbsp;&nbsp;{{ choices[loop.index0] }}:</i> {{ answer['text'] }}</pre>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>

      </form>
   
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get references to form and buttons
      var actionForm = document.getElementById("actionForm");
      var getJSONButton = document.getElementById("getJSON");
      getJSONButton.addEventListener("click", function (event) {
        event.preventDefault();
        actionForm.action = "/json_download"; // Set the action URL
        actionForm.submit(); // Submit the form
      });
    });
  </script>
  </body>
</html>
