<?xml version="1.0" encoding="UTF-16"?>
<POLL TYPE="named" SHOWTIMER="no" ALARM="0:0" NOANSWER="yes" SHOWRESPONSE="yes">

    {% for item in day1 %}
    <QUESTION TYPE="{{item.type}}" TITLE="{{ item.question|escape }}">
        {% if item.type != 'text' %}
        {% for answer in item.answers %}
            <ANSWER ISCORRECT="FALSE">{{ answer['text']|escape }}</ANSWER>
        {% endfor %}
        {% endif %}
    </QUESTION>
{% endfor %}

</POLL>
