<!DOCTYPE html>
<html>
<head>
    <title>Course Selection Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #112;
            color: #fff;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #fff;
        }
        h3 {
            margin-top: 100px;
        }
        a {
            margin-top: 20px; 
            display: block;
            color: #63d28a;
        }
        a:visited {
            color: #8a63d2; 
        }


        label {
            font-weight: bold;
            margin-right: 10px;
        }

        select {
            padding: 8px;
            border-radius: 4px;
            background-color: #555;
            color: #fff;
        }

        input[type="submit"] {
            background-color: #555;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 20px;
        }

        input[type="submit"]:hover {
            background-color: #777;
        }

        .error-list {
            list-style: none;
            padding: 0;
        }

        .error-message {
            color: red;
        }

        .download-button {
            margin-top: 35px;
            background-color: #243551; 
            color: #fff; 
            padding: 10px 20px; 
            text-decoration: none;
            border: none; 
            border-radius: 5px; 
            display: inline-block; 
            margin: 35px 20px;
          }
    </style>
</head>
<body>
    <h1>Course Selection Form</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="error-list">
                {% for message in messages %}
                    <li class="error-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="/process_form">
        <label for="course">Select a Course:</label>
        <select id="course" name="course">
            {% for course in course_list %}
                <option value="{{ course }}">{{ course|upper }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Enter">
    </form>
    <a href="/day1_json" class="download-button" download>Generic Intro Questions</a>
    <a href="/daily_performance" class="download-button" download>Daily Snapshot Questions</a>
</body>
</html>
