<!DOCTYPE html>
<html>
<head>
    <title>Figures</title>
    <style>
        .markdown-content img {
            max-width: 100%; /* Constrain image width to fit container */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 100px; background-color: black;">
    {% for item in selected_questions %}
        <div class="cell" style="color: white;">
            <p style="font-weight: bold; font-size: 1.5rem; width: 90%; color: #2dd3e9;"> {{item.question}} </p>
            <div class="markdown-content" style="margin-left: 20px; background: #5A5A5A; width: 90%;">{{ markdown_data[loop.index0] | safe }}</div>
        </div>
    {% endfor %}
</body>
</html>
