<?xml version="1.0" encoding="UTF-16"?>
<POLL TYPE="named" SHOWTIMER="no" ALARM="0:0" NOANSWER="yes" SHOWRESPONSE="yes">
    {% for item in performance %}
    <QUESTION TYPE="{{item.type}}" TITLE="{{ item.question|escape }}">
        {% if item.answers is not none %}
                {% for answer in item.answers %}
                    <ANSWER ISCORRECT="FALSE">{{ answer|escape }}</ANSWER>
                {% endfor %}
            {% endif %}          
    </QUESTION>
{% endfor %}

{% for item in selected_questions %}
<QUESTION TYPE="{{item.type|escape}}" TITLE="{{ item.question|escape }}">
    {% if item.answers is not none %}
                {% for answer in item.answers %}
                    <ANSWER ISCORRECT="FALSE">{{ answer|escape }}</ANSWER>
                {% endfor %}
            {% endif %}  
    </QUESTION>
{% endfor %}

</POLL>
